<div id="{{mojit_view_id}}">

<div align="center"  style="margin-top:100px">

<h2>Login User</h2>



<form method="post" >

<p><label>UserName</label>

<input type="text" placeholder="Username" id="username" name="username" class="login"></p>

<p><label for="Password">Password</label>

<input type="password" placeholder="Password" id="password" name="password" class="login"></p>


<button type="submit" id="button1" class="lg">Login</button>

    <label id="error" style="display:none"><br> Wrond emailid</label>

</form>
    <p>{{msg}}</p>
        </div>
  
</div>

