<div id="{{mojit_view_id}}">

    {{#if admin }}
        {{>menu_header}}
    {{ else }}
        {{>e_menu_header}}
    {{/if}}
    {{> logout_header}}
    <h2 align="center" id="head">View profile</h2>

    {{#if sameUser }}
        <button id="edit" class="v">Edit</button>
    {{/if}}


    <button id="change" class="btn">Change Password</button>

    <div id="panelContent">
        <div class="yui3-widget-bd">
            <form id="dis" style="display: none">
                <fieldset>
                    <p>
                        <label for="id">Old Password</label><br/>
                        <input type="text" name="old" id="old" placeholder="">
                    </p>

                    <p>
                        <label for="name">New Password</label><br/>
                        <input type="text" name="new" id="new" value="" placeholder="">
                    </p>

                </fieldset>
                <button id="button1" align="center">Change Password</button>
                <button id="button2" align="center">Cancel</button>
            </form>
        </div>
    </div>

    <table align="center" class="color">
        <tr>
            <td>
                <div class="viewhead">
                    Personal details
                </div>
            </td>
        </tr>


        <tr>
            <td>
                <label>UserName:</label>
            </td>
            <td><label class="v">{{email}}</label><label id="email" class="e" style="display:none">{{email}}</label></td>
        </tr>
        <tr>
            <td>
                <label>Firstname:</label>
            </td>
            <td><label class="v">{{fname}}</label><input type="text" value="{{fname}}" id="fname" class="e"
                                                         style="display:none"></td>
        </tr>

        <tr>
            <td>
                <label>Lastname:</label>
            </td>
            <td><label class="v">{{lname}}</label><input type="text" value="{{lname}}" id="lname" class="e"
                                                         style="display:none"></td>
        </tr>

        <tr>
            <td>
                <label>Date of birth:</label>
            </td>
            <td><label class="v">{{dob}}</label><input type="text" value="{{dob}}" id="dob" class="e"
                                                       style="display:none"></td>
        </tr>

        <tr>
            <td>
                <label>Blood group:</label>
            </td>
            <td><label class="v">{{bg}}</label><input type="text" value="{{bg}}" id="bg" class="e" style="display:none">
            </td>
        </tr>


        <tr>
            <td>
                <div class="viewhead">
                    Company details
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <label>Date of joining:</label>
            </td>
            <td><label class="v">{{doj}}</label><input type="text" value="{{doj}}" id="doj" class="e"
                                                       style="display:none"></td>
        </tr>

        <tr>
            <td>
                <label>Role:</label>
            </td>
            <td><label class="v">{{role}}</label><label id ="role" class="e" style="display:none">{{role}}</label></td>
        </tr>


        <tr>
            <td>
                <label>Leaves Taken:</label>
            </td>
            <td><label class="v">{{leavesTaken}}</label><label id="leavestaken" class="e" style="display:none">{{leavesTaken}}</label>
            </td>
        </tr>

        <tr>
            <td>

                <div class="viewhead">
                    Contact Details
                </div>
            </td>

        </tr>

        <tr>
            <td>
                <label>Skype-id:</label>
            </td>
            <td><label class="v">{{sky}}</label><input type="text" value="{{sky}}" id="skypeid" class="e"
                                                       style="display:none"></td>
        </tr>

        <tr>
            <td>
                <label>Phone number:</label>
            </td>
            <td><label class="v">{{phonenumber}}</label><input type="text" value="{{phonenumber}}" id="phonenumber"
                                                               class="e" style="display:none"></td>
        </tr>


        <tr>
            <td>
                <label>Permanent address:</label>
            </td>
            <td><label id="pa" class="v">{{line1}}<br>{{line2}}<br>{{city}},{{state}}<br>{{country}}<br>{{zipcode}}</label>
                <input type="text" value="{{line1}}" id="line1" class="e" style="display:none">
                <br> <input type="text" value="{{line2}}" id="line2" class="e" style="display:none">
                <br> <input type="text" value="{{city}}" id="city" class="e" style="display:none">
                <br> <input type="text" value="{{state}}" id="state" class="e" style="display:none">
                <br> <input type="text" value="{{country}}" id="country" class="e" style="display:none">
                <br> <input type="text" value="{{zipcode}}" id="zipcode" class="e" style="display:none">


            </td>
        </tr>
        <tr>

            <td>
                <label >Temporary address:</label>
            </td>
            <td><label id="ta" class="v">{{tline1}}<br>{{tline2}}<br>{{tcity}},{{tstate}}<br>{{tcountry}}<br>{{tzipcode}}</label>
                <input type="text" value="{{tline1}}" id="tline1" class="e" style="display:none">
                <br> <input type="text" value="{{tline2}}" id="tline2" class="e" style="display:none">
                <br> <input type="text" value="{{tcity}}" id="tcity" class="e" style="display:none">
                <br> <input type="text" value="{{tstate}}" id="tstate" class="e" style="display:none">
                <br> <input type="text" value="{{tcountry}}" id="tcountry" class="e" style="display:none">
                <br> <input type="text" value="{{tzipcode}}" id="tzipcode" class="e" style="display:none">


            </td>
        </tr>


        <tr>
            <td>
                <button id="save" class="e" style="display:none" disabled>Save</button>
            </td>
            <td>
                <button id="cancel" class="e" style="display:none">Cancel</button>
            </td>
        </tr>


    </table>
    <div style="display:none">
        <label id="createdon">{{createdon}}</label>
        <label id="createdby">{{createdby}}</label>

    </div>


</div>

