<div id="{{mojit_view_id}}">


    {{>menu_header}}
    {{> logout_header}}

<h2 align="center" id="head">Create profile</h2>

<div align="center" class="color">

<table>
<tr><td></td></tr>
<tr><td></td></tr>

<tr>
<td>
<p><label >First Name</label>
</td>
<td><input type="text" placeholder="First Name" id="fn" class="textbox">
</td>
</tr>

<tr>
<td>
<p><label>Last Name</label>
</td>
<td>
<input type="text" placeholder="Last Name" id="ln" class="textbox"></p>
</td>

<tr>
<td>
<p><label >Email</label>
</td>
<td>
<input type="email" placeholder="Email" id="Em" class="textbox"></p>
</td>
</tr>

<tr>
<td>
<label>Date of joining</label>
</td>
<td>
<input type="text" placeholder=" yyyy/mm/dd" class="textbox" id="doj" />
</td>
</tr>

<tr>
<td>
<label>Account type</label>
</td>
<td>
<select id="At">
<option value="admin"id="adm">Admin</option>
<option value="employee"id="emp">Employee</option>
</select>
</td>
</tr>

<tr>
<td>
<label>Employee Status</label>
</td>
<td>
<select id="Es">
<option value="Active"id="ac">Active</option>
<option value="Non Active"id="nac">Non Active</option>
</select>
</td>
</tr>

<tr>
<td>
<button id="button1" class="btn" disabled>Submit</button>
</td>
<td>
<button id="button2" class="btn" >Cancel</button>
</td>
</tr>

</table>
</div>
</div>

