<div id="{{mojit_view_id}}">
    {{>menu_header}}
    {{> logout_header}}
    <h2 align="center" id="head">Leaves Report</h2>
<div id="div1">
    <table class="table" align="center">
        <tr>
            <td>Sno</td>
            <td>Name</td>
            <td>Emailid</td>
            <td>Leaves Taken</td>
            <td>Leaves Ratio<br>(leaves taken/months)</td>

        </tr>

        {{#leaves}}
        <tr>
        <td>{{sno}}</td>
        <td>{{name}}</td>
        <td>{{emailId}}</td>
        <td>{{leavesTaken}}</td>
        <td>{{leavesTaken}}/{{months}}</td>
        </tr>
        {{/leaves}}
    </table>
</div>
</div>

