<div id="{{mojit_view_id}}">
    {{>menu_header}}
    {{> logout_header}}

    <div align="center">


        <input type="text" placeholder=" Country" id="co" class="textbox"/><br>
        <input type="text" placeholder=" State" id="st" class="textbox"/><br>
        <input type="text" placeholder=" City" id="ci" class="textbox"/><br>
        <button id="b1" class="btn">Submit</button>
        <br>


    </div>
    <div id="div1">

        <table id="searcharea" class="table">
            <tr>
                <td>S.no</td>
                <td>UserId</td>
                <td>Firstname</td>
                <td>Lastname</td>
                <td>Country</td>
                <td>State</td>
                <td>City</td>
            <tr>

                {{#arealist}}
            <tr>
                <td>{{sno}}</td>
                <td>{{emailId}}</td>
                <td>{{firstName}}</td>
                <td>{{lastName}}</td>
                <td>{{country}}</td>
                <td>{{state}}</td>
                <td>{{city}}</td>

            </tr>


            {{/arealist}}
        </table>
    </div>
</div>