@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url('../fonts/proximanova-sbold.eot');
  src: url('../fonts/proximanova-sbold.eot') format('embedded-opentype'),
  url('../fonts/proximanova-sbold.woff') format('woff'),
  url('../fonts/proximanova-sbold.ttf') format('truetype'),
  url('../fonts/proximanova-sbold.svg#ProximaNovaSemibold') format('svg');
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url('../fonts/proximanova-bold.eot');
  src: url('../fonts/proximanova-bold.eot') format('embedded-opentype'),
  url('../fonts/proximanova-bold.woff') format('woff'),
  url('../fonts/proximanova-bold.ttf') format('truetype'),
  url('../fonts/proximanova-bold.svg#ProximaNovaBold') format('svg');
}

@font-face {
  font-family: 'ProximaNovaExtrabold';
  src: url('../fonts/proximanova-xbold.eot');
  src: url('../fonts/proximanova-xbold.eot') format('embedded-opentype'),
  url('../fonts/proximanova-xbold.woff') format('woff'),
  url('../fonts/proximanova-xbold.ttf') format('truetype'),
  url('../fonts/proximanova-xbold.svg#ProximaNovaExtrabold') format('svg');
}

@font-face {
  font-family: 'ProximaNovaAltRegular';
  src: url('../fonts/proximanovaalt-reg.eot');
  src: url('../fonts/proximanovaalt-reg.eot') format('embedded-opentype'),
  url('../fonts/proximanovaalt-reg.woff') format('woff'),
  url('../fonts/proximanovaalt-reg.ttf') format('truetype'),
  url('../fonts/proximanovaalt-reg.svg#ProximaNovaAltRegular') format('svg');
}



@font-face {
  font-family: 'JennaSueRegular';
  src: url('../fonts/jennasue.eot');
  src: url('../fonts/jennasue.eot?#iefix') format('embedded-opentype'),
  url('../fonts/jennasue.woff') format('woff'),
  url('../fonts/jennasue.ttf') format('truetype'),
  url('../fonts/jennasue.svg#JennaSueRegular') format('svg');
}


@font-face {
  font-family: QuadraatWeb;
  src: url("QuadraatWeb.eot");
  src:url('../fonts/QuadraatWeb.eot?#iefix') format('embedded-opentype'),
  url("../fonts/QuadraatWeb.woff") format("woff"),
  url('../fonts/QuadraatComp.ttf') format('truetype');
}

@font-face {
  font-family: QuadraatWeb-Ita;
  src: url("QuadraatWeb-Ita.eot");
  src:url('../fonts/QuadraatWeb-Ita.eot?#iefix') format('embedded-opentype'),
  url("../fonts/QuadraatWeb-Ita.woff") format("woff"),
  url('../fonts/QuadraatComp-Ita.ttf') format('truetype');
}

@font-face {
  font-family: QuadraatWeb-Demi;
  src: url("../fonts/QuadraatWeb-Demi.eot");
  src:url('../fonts/QuadraatWeb-Demi.eot?#iefix') format('embedded-opentype'),
  url("../fonts/QuadraatWeb-Demi.woff") format("woff"),
  url('../fonts/QuadraatComp-Demi.ttf') format('truetype');
}

@font-face {
  font-family: QuadraatWeb-DemiIta;
  src: url("../fonts/QuadraatWeb-DemiIta.eot");
  src:url('../fonts/QuadraatWeb-DemiIta.eot?#iefix') format('embedded-opentype'),
  url("../fonts/QuadraatWeb-DemiIta.woff") format("woff"),
  url('../fonts/QuadraatComp-DemiIta.ttf') format('truetype');
}

@font-face {
  font-family: QuadraatWeb-Bold;
  src: url("../fonts/QuadraatWeb-Bold.eot");
  src:url('../fonts/QuadraatWeb-Bold.eot?#iefix') format('embedded-opentype'),
  url("../fonts/QuadraatWeb-Bold.woff") format("woff"),
  url('../fonts/QuadraatComp-Bold.ttf') format('truetype');
}

@font-face {
  font-family: QuadraatWeb-BoldIta;
  src: url("../fonts/QuadraatWeb-BoldIta.eot");
  src:url('../fonts/QuadraatWeb-BoldIta.eot?#iefix') format('embedded-opentype'),
  url("../fonts/QuadraatWeb-BoldIta.woff") format("woff"),
  url('../fonts/QuadraatComp-BoldIta.ttf') format('truetype');
}
