// Css for pages starts here
//----------------------
@import "variables";
h1{
  font-size:$headline;
  color:$blue;
  font-family:$fontProxSbold;
  text-transform: $textCaps;
}

h2{
  font-size:$subHeadline;
  color:$purple;
  font-family:$fontProxSbold;
  text-transform: $textCaps;
}

h3
{
  font-size:$subHeadline1;
  color:$green;
  font-family:$fontProxBold;
}

/*h1,h2,h3 {white-space:nowrap;} */

h4{
  font-size:$small;
  color:$black;
  font-family: $fontProxBold;
  text-transform:$textCaps;
}

h5
{
  font-size:$small;
  color:$grayDarker;
  font-family: $fontProxBold;
  text-transform:$textCaps;
}

h6 {
  font-size:$subHeadline5;
  color:$grayDark;
  font-family: $fontProxBold;
}