
.lg {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 19px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.lg:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.btn {
    background: #d93434;
    background-image: -webkit-linear-gradient(top, #d93434, #2980b9);
    background-image: -moz-linear-gradient(top, #d93434, #2980b9);
    background-image: -ms-linear-gradient(top, #d93434, #2980b9);
    background-image: -o-linear-gradient(top, #d93434, #2980b9);
    background-image: linear-gradient(to bottom, #d93434, #2980b9);
    -webkit-border-radius: 23;
    -moz-border-radius: 23;
    border-radius: 23px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Courier New;
    color: #ffffff;
    font-size: 19px;
    padding: 10px;
    border: solid #1f628d 2px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    text-decoration: none;
}

#edit, #cancel, #save {
    background: #d93434;
    background-image: -webkit-linear-gradient(top, #d93434, #2980b9);
    background-image: -moz-linear-gradient(top, #d93434, #2980b9);
    background-image: -ms-linear-gradient(top, #d93434, #2980b9);
    background-image: -o-linear-gradient(top, #d93434, #2980b9);
    background-image: linear-gradient(to bottom, #d93434, #2980b9);
    -webkit-border-radius: 23;
    -moz-border-radius: 23;
    border-radius: 23px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Courier New;
    color: #ffffff;
    font-size: 19px;
    padding: 10px;
    border: solid #1f628d 2px;
    text-decoration: none;
}

#edit:hover, #cancel:hover, #save:hover {
    background: #3cb0fd;
    text-decoration: none;
}

.login {
    background: white;
    border: 1px solid #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #DDD inset;
    color: #666;
    outline: none;
    height: 25px;
    width: 275px;
}

.e {
    background: white;
    border: 1px double #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #333;
    color: #666;
    outline: none;
    height: 25px;
    width: 275px;
}

.textbox {
    background: white;
    border: 1px double #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #333;
    color: #666;
    outline: none;
    height: 25px;
    width: 275px;
}

.table {
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #000000;

    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;

    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;

    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;

    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

.table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.table table tr:first-child td:first-child {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

.table table tr:first-child td:last-child {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}

.table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.table tr:hover td {
}

.table tr:nth-child(odd) {
    background-color: #e5e5e5;
}

.table tr:nth-child(even) {
    background-color: #ffffff;
}

.table td {
    vertical-align: middle;
    border: 1px solid #000000;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 7px;
    font-size: 10px;
    font-family: Georgia;
    font-weight: normal;
    color: #000000;
}

.table tr:last-child td {
    border-width: 0px 1px 0px 0px;
}

.table tr td:last-child {
    border-width: 0px 0px 1px 0px;
}

.table tr:last-child td:last-child {
    border-width: 0px 0px 0px 0px;
}

.table tr:first-child td {
    background: -o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2));
    background: -moz-linear-gradient(center top, #cccccc 5%, #b2b2b2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");
    background: -o-linear-gradient(top, #cccccc, b2b2b2);
    background-color: #cccccc;
    border: 0px solid #000000;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 15px;
    font-family: Comic Sans MS;
    font-weight: bold;
    color: #000000;
}

.table tr:first-child:hover td {
    background: -o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2));
    background: -moz-linear-gradient(center top, #cccccc 5%, #b2b2b2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");
    background: -o-linear-gradient(top, #cccccc, b2b2b2);

    background-color: #cccccc;
}

.table tr:first-child td:first-child {
    border-width: 0px 0px 1px 0px;
}

.table tr:first-child td:last-child {
    border-width: 0px 0px 1px 1px;
}

div.colorheader {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: verdana, Arial, Helvetica, sans-serif;
    margin-top: 30px;
    background-color: #8ac22e;

}

div.colorheader ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.colorheader li {
    display: inline;
}

div.colorheader a:hover, div.colorheader a:active {
    background-color: #ffffff;

}

.main {

    font-family: Tahoma, sans-serif;
    line-height: 1em;
    color: #2e18d9;
    font-weight: bold;
    font-size: 35px;

    text-shadow: 0px 0px 0 rgb(19, -3, 190),
    1px 1px 0 rgb(1, -21, 172), 2px 2px 0 rgb(-16, -38, 155),
    3px 3px 0 rgb(-34, -56, 137), 4px 4px 0 rgb(-51, -73, 120),
    5px 5px 0 rgb(-68, -90, 103), 6px 6px 5px rgba(0, 0, 0, 0.4),
    6px 6px 1px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(0, 0, 0, .2);
}

.welcome {
    color: rgb(13, 14, 18);
    font-size: 27px;
    background-color: rgb(198, 217, 197);
    text-shadow: rgb(3, 3, 3) -4px 2px 8px;
}

.viewhead {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: verdana, Arial, Helvetica, sans-serif;
    margin-top: 20px;
    width: 250px;
    background-color: #8699a4;
}

#div1 {
    width: 960px;
    margin-top: 20px;
    margin-left: 125px;
    margin-right: 125px;

}

.color {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: #000000;
    font-size: 50;
    padding: 20;
    font-weight: bold;
    width: 960px;
    margin-top: 20px;
    margin-left: 125px;
    margin-right: 125px;
}

#head {

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #551a8b;
    font-size: 24px;
    padding: 20;
    font-weight: bold;
}

#t1 {
    text-align: center;
}

.divlogin {
    width: 50%;
    margin: 0 auto;

    background: url(../../../Frame/assets/images/templatemo_content_bg.jpg) center top no-repeat;
}




