@import "compass/css3";
@import "fonts";
@import "variables";
@import "typography";
@import "buttons";

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script'), local('DancingScript'), url(http://themes.googleusercontent.com/static/fonts/dancingscript/v3/DK0eTGXiZjN6yA8zAEyM2S5FJMZltoAAwO2fP7iHu2o.ttf) format('truetype');
}

body {
    margin: 10px;
    color:#000;
    font-size:13px;
    line-height:24px;
    font-family:'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Lucida, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    //font-weight:400;
    //font-family: 'Dancing Script', cursive;
    //color:#000;
    margin: 5px 0;
    //text-transform:none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    //color:#000000;
}

label {
    cursor: default;
}

dd {
    margin: 0;
}

ul {
    padding: 0;
}

p {
    margin: 0 0 5px 0;
}

table {
    width: 100%;
}

table tr {
    border-bottom:1px dotted #d8d8d8;
}

table tr th, table tr td {
    padding: 5px 10px;
    vertical-align: middle;
}

//textarea, input[type=text] {
  //  line-height:12px;
    //color:#666;
//}

//input[type=text], input[type=url] {
  //  height:22px;
//}

a {
    color:#8f8f8f;
    text-decoration:none;
    outline:none;
}

a:hover {
    text-decoration:none;
    color:#000000;
}

a:active {
    outline:none;
}

a:visited {
    color: #8F8F8F;
    text-decoration: none;
}

button {
    outline: none;
}

table th {
    text-align:left;
    font-size:12px;
    font-family:$fontProxReg, "Georgia", serif;
    font-style:italic;
    text-transform:lowercase;
    font-weight: bold;
    background-color: #D5D5D5;
    border-right: 1px solid #DDD;
}

table tr td {
    padding:5px 10px;
    vertical-align:middle;
}

table tr td:first-child {
    padding-left: 6px;
}

table tr td:last-child {
    padding-right:0;
}

input, a {
    outline:none !important;
}

input:hover, a:hover {
    outline:none !important;
}

input:active, a:active {
    outline:none !important;
}

.wrapper {
    margin: 0 auto;
    min-width: 700px;
    max-width: 1240px;
}

div.main {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

#closet_admin_content {
    overflow: visible;
}

a.emphasis {
    font-size: 12px;
    font-style: italic;
    font-family: Georgia, serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: lowercase;
}

input.gb-button, a.btn {
    border:none;
    outline:none;
    padding:10px 25px;
    color:#fff;
    background:#8f8f8f;
    font-size:12px;
    font-style:italic;
    text-transform:lowercase;
    font-family:"Georgia", serif;
}

input.gb-button:hover, a.btn:hover {
    background:#222222;
}

//input[type=text], input[type=url] {
//    border: 1px solid #d8d8d8;
 //   padding:0 10px;
 //   @include border-radius(18px);
//}

input.disabled, input.disabled:hover, input:disabled, input:disabled:hover {
    color: #686868 !important;
    background-color: #DBDBDB !important;
    cursor: not-allowed;
}

.loading {
    padding:200px 0;
    font-size:11px;
    font-style:italic;
    font-family:"Georgia", serif;
    text-align:center;
}

.errors { 
    color: #C00;
}

.error {
    color: red;
}

.warning {
    color: #DE0000;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span.link {
    cursor: pointer;
    color: #8F8F8F;
    text-decoration: none;

}

span.link:hover {
    color: black;
}

.table-striped tr:nth-child(odd) {
  background-color: #F3F3F3;
}

/*---------------------*/

.yui3-widget-mask {
    background: #999;
    opacity: 0.5;
}

.disabled-overlay {
    background-color: #DDD;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.throbber {
    width: 32px;
    height: 32px;
    background: image-url('../images/throbber.gif') no-repeat;
    position: relative;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input::invalid {
    background-color: red;
}

input[type=number].small {
    text-align: right;
    padding-right: 5px;
    width: 35px;
}

.message {
    color: #800180;
    margin-bottom: 15px;
}
.message time {
    font-weight: bold;
}

/*---------------------*/

.csv-icon {
    width: 28px;
    height: 28px;
    background: image-url('../images/csv_export.png') no-repeat;
    display: inline-block;
    vertical-align: top;
}

@import "labels";
@import "datatable";
@import "datatable-paginator";
@import "popup";
