.stats {
    margin-left: 250px;
    padding-left: 10px;
    border-left: 2px solid #851186;
    min-height: 500px;
}

.bar {
    width: 250px;
}

.admin-inputs div {
    margin-bottom: 10px;
}

.admin-inputs label {
    width: 80px;
    font-weight: bold;
}

.date-input {
    width: 150px;
    height: 22px;
    background-color: white;
    border: 1px #EEE solid;
    padding-left: 5px;
}

.scan-text-area {
  height: 222px;
  background-color: white;
  padding-left: 5px;
  border-radius: 5px;
  width: 220px;
}

#calendar_container {
    font-size: 1.2em;
    z-index: 1;
}

.yui3-calendar-row td {
    padding: 1px 3px !important;
}

tr.yui3-calendar-weekdayrow th {
    text-align: center;
    font-style: normal;
}

.main-button {
    width: 80px;
    margin-bottom:10px; 
}

#upload_file {
    max-width: 230px;
}

.admin-content-table th, .admin-content-table td {
    padding: 5px;
    text-align: left;
}

.admin-content-table th {
    font-weight: bold;
    background-color: #D5D5D5;
    width: 200px;
}

.yui3-skin-sam .yui3-calendar-header-label h4 {
    font-size: 1.3em !important;
    font-family: 'Lucida Grande', 'Lucida Sans', Calibri, Helvetica, Arial, sans-serif !important;
}