<!DOCTYPE HTML>
<html>
<head>
    {{#meta}}
    <meta name="{{name}}" content="{{content}}">
    {{/meta}}
    <title>{{title}}</title>
    <script src="http://yui.yahooapis.com/3.17.2/build/yui/yui-min.js"></script>
    <script src="http://yui.yahooapis.com/3.5.1/build/yui/yui-min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{{mojit_assets}}}/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="{{{mojit_assets}}}/css/index.css"/>
    {{{top}}}
</head>

<body class="wrapper yui3-skin-sam">
{{{header}}}
{{#if body}}
{{{body}}}
{{else}}
<div> An error occured on the server. Please try again!</div>
{{/if}}
{{{bottom}}}
</body>
</html>
