<div id="{{mojit_view_id}}">

{{> menu_header}}
{{>logout_header}}

    <div id="div1"align="center">

        <h2 class="head" style="margin-bottom: 50px">Upload Attendance</h2>
     <input id="filepath" type="file" name="file" class="textbox"> <br>
    <input type="checkbox" name="all present" value="Mark all present" > Mark all present<br>
    <button id="button1" class="btn" >Submit</button>
    <button id="button2" class="btn" >Cancel</button>
</div>

</div>


