<div id="{{mojit_view_id}}">
    {{>e_menu_header}}
    {{> logout_header}}
    <div>

        <p><input type="text" placeholder="Search" id="searchnn" class="textbox"/>
            <button id="button1" class="btn" >Search</button> </p>

    </div>
    <div id="div1">

    <table id="searchTable" class="table">
        <p></p>
        <p></p>
        <tr>
            <td>Sno</td>
            <td>Firstname</td>
            <td>Lastname</td>
            <td>Username</td>
            <td>Phonenumber</td>
            <td></td>
        </tr>
        {{#searchlist}}
        <tr>
            <td>{{sno}}</td>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{emailId}}</td>
            <td>{{phoneNo}}</td>
            <td><a type="text" href="/userprofile/{{emailId}}">View</a></td>
        </tr>
        {{/searchlist}}
    </table>
    </div>
</div>