<div id="{{mojit_view_id}}">

    <div align="right" class="colorheader">
<ul>

       <li>
           <a href="/userprofile">Home</a>
       </li>


        <li>
            <a href="/search">Search</a>
        </li>

</ul>
    </div>
</div>