<div id="{{mojit_view_id}}">

    <div align="right" class="colorheader" >

<ul><li><a href="/userprofile/{{username}}">Home</a></li>

<li><a href="/create">Create profile</a></li>

<li>
    <a href="/uploadattendance">Upload Attendance</a></li>
    <li> <a href="/search">Search</a> </li>
    <li>  <a href="/leaves">Leaves report</a> </li>
    <li><a href="/area">Area report</a> </li>

</ul>
   </div>
    </div>